<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>You just received an email from the site's contact form, from
        <%= "#{ @name }, #{ @email }" %></p>
        <p><%= @body %></p>
    </body>
</html>